/* ------------------  fonts   ------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Festive&display=swap');

/* ------------------------------------
common utilities
-------------------------------- */
body{
    margin: 0;
    padding: 0;
    background-color: linen;
}
main{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    
}
.container{
    margin-top: 70px;
}

/* -------------------------
   top banner styles 
   ------------------------------*/
.top-banner{
    background-color: #2D25A0;
    color:#FFFFFF;  
}
.banner-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 677px;
}
.banner-title{
    padding-left: 50px;
    padding-right: 50px;
}
.banner-title h1{
    font-size: 64px;
}
.banner-title h1:hover{
    color: gold;
    transform: translate(-15px,-20px) scale(1.2);
    transition: transform 3s linear;
}
.link-button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
}
.link-button:hover{
    background-image: linear-gradient(skyblue, gold);
    color:red;
    font-size:20px;
    border-radius: 15px;
    padding: 11px 25px;
}
.banner-items img{
    width: 556px;
    height:438px;
}

/*----------------------------------
        Top Players style 
    --------------------------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 100px;
    margin-right: 180px;
}
.players .player img{
    width: 300px;
    height: 256px;
}
.player{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}
.player-info{
    width: 300px;
    height: 154px;
    padding: 0 15px;
}
.player-name{
    font-size: 28px;
    margin-top: 0, 3px;
}
.player-detail{
    color: #6C6C6C;
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    line-height: 20px;  
}
/* -------------------------- Highlights style     -----------------  */
.highlights{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(104, 100, 40, 0.623);
    color: blue;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    height: 800px;
}
.copa-logo{
    Margin-top: 30px;
    margin-bottom: -20px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
/* --------------------------
Fixture styles 
--------------------------------------*/
.container-fix h2{
    text-align:center;
    color: blue;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.container-fix{
    background-color:rgba(104, 100, 40, 0.623);
}
.fixture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 600px;
    height: 450px;
}
.grid-container{
    display: grid;
    grid-template-columns: 160px 80px 160px 200px;
    grid-template-rows: 60px 60px 60px 60px;
    align-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    margin-right: 200px;
    background-color: rgba(71, 61, 139, 0.781);
}
.grid-cell{
    color:gold;
    font-size: 1.5em;
    margin:auto;
    padding:5px;
}
/*----------------- footer styles----------- */
footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    margin-top: 50px;
}
footer img{
    width:484px;
    height: 110px;
}
footer a{
    color: gray;
}
.social-icons a{
    Width: 170px;
    Height: 32px;
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: gray;
}